/* Reset -- BEGIN */

html, body, p, div, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: "Lato", "Open Sans", Helvetica, sans-serif;
	color: #333;
	text-align: center;
	line-height: 1;
	background:#F2F4F6;
	font-size:16px;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	float: none;
	padding-top: 2.5rem;
	background:#fff;
}

div {
      	float: left;
     	width: 100%;
     	margin-bottom: 40px;
     	display: block;
  	position: relative;
	*zoom: 1;
}

div > h1 {
      	margin: -2.5rem 0 2rem;
     	font-size: 24px;
	padding-top: 0.5rem;
}

.box {
     	border: 1px solid #99999a;
       	margin-bottom: 20px;
     	padding-top: 10px;
      	padding-bottom: 10px;
       	position: relative;
 	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*left: -1px;
}

.box p {
  	margin: 0;
	font-size: 15px;
}

.box[class*=pad] {
       	background: #99999a;
    	padding-top: 0;
 	padding-bottom: 0;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.box[class*=padin] {
     	-moz-box-sizing: border-box;
     	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.box[class*=pad] p {
    	background: #f8f8f7;
    	outline: none;
	padding: 10px 0;
}

.section {
   	margin-bottom: 4rem;
 	padding-top: 1rem;
}

.wrapper {
    	display: block;
}

/* IE 7 only styles */

.gs-ie7clear {
   	display: block;
     	width: 100%;
    	border: none;
    	background: none;
   	float: left;
    	clear: both;
    	height: 0;
    	margin: 0 0 0 100%;
  	visibility: hidden;
}


/* Reset -- END */


/* ---------- HEADER.INC styles -- BEGIN  --------------- */

header{
        border-bottom: 1px solid #E6E6E6;
        height:60px;
        background-color: #fff;
}

.logo-block{
        text-decoration: none;
        display:inline-block;
        float: left;
        color: #707B87;
        padding-top: 12px;
        width: auto;
}

.booking__logo {
        display:inline-block;
        position: relative;
        text-indent: 150%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url("../img/Logo_Booking.com_rgb.png");
        background-image: url("../img/Logo_Booking.com_rgb.svg");
	    background-repeat: no-repeat;
        height:32px;
        width:192px;
        margin: 0 0 0 20px;
        top: 5px;  
        float:left;
}

.booking__logo a{
        text-decoration: none;
}

.booking__logo__tech-blog{
        position: relative;
        color:707B87;
        border-left: 2px solid #AAAAAA;
        display: inline;
        width:auto;
        top: 4px;
        margin-left: 14px;
        float: left;
        padding: 7px 0 7px 13px;
}


.nav{
        float:right;
        list-style-type: none;
        margin: 20px 8px 0 0;
        padding: 0;
}

.nav__item{
        display:inline-block;
        height: 60px;
}

.nav a{
        color: #707B87;
        padding: 22px 12px;
        width: 100%;
        height:100%;
        text-align: center;
}

.nav__item--active a, .nav__item a:hover{
       	background: #F2F4F6;
       	border-bottom: 2px solid #0896FF;
	cursor: pointer;
} 
/* ---------- HEADER.INC styles -- END  --------------- */

/* ---------- ARTICLE-POST.INC styles -- BEGIN  --------------- */

article{
	display:block;
}



/* ---------- ARTICLE-POST.INC styles -- END  --------------- */






/* ---------- FOOTER.INC styles -- BEGIN  --------------- */
    footer {
        border: 1px solid #E6E6E6;
    }

    .banner-bottom{
        display: block;
        width: 100%;
        background:#02214C;
        text-align:center;
        position: relative;
        Font-family: Lato, sans-serif;
        color:#fff;
        font-size: 1.5rem;
        padding: 5px 20px 20px 20px;
    }

    .banner-bottom__link{
        text-decoration: none;
        color:#0896FF;
    }

    .booking__logo-footer {
        display:inline-block;
        position: relative;
        text-indent: 150%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url("../img/Logo_Booking.com_rgb.png");
        background-image: url("../img/Logo_Booking.com_rgb.svg");
        background-repeat: no-repeat;
        height:32px;
        width:192px;
    }
    .booking-about{
        display: inline-block;
        padding: 40px 40px 40px 40px;
        box-sizing: border-box;
        max-width: 49%;
        Font-family: Lato, sans-serif;
        color:#707B87;
        font-size: 1rem;
    }

    .get-in-touch{
        display: inline-block;
        padding: 15px 40px 0 40px;
        box-sizing: border-box;
        color:#707B87;
    }

    .get-in-touch p{
        font-size: 0,8rem;
    }

    .get-in-touch h5{
        font-size: 1rem;
        color: #000;
    }


    .social-icons__item {
        display:inline-block;
        position: relative;
        background-color:#EFF1F4;
        border-radius: 50%;
        background-repeat: no-repeat;
        height:40px;
        width:40px;
        text-align:center;
        margin-right: 20px;

    }
    .social-icons__item:hover circle{
       fill: #0896FF;
    }
    .social-icons__item:hover path{
       fill: #fff;
    }


    footer{
        background: white;
        display:inline-block;

    }

@media screen and (max-width: 480px) {
    .booking-about {
        max-width: 100%;
    }

     .get-in-touch{
        padding: 0 40px 40px 40px;
    }

    .booking-about{
        padding: 40px 40px 0 40px;
    }
}


/* ---------- FOOTER.INC styles -- END --------------- */
