/* Reset -- BEGIN */

html, body, p, div, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
	padding-top: 40px;
	line-height: 1;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	float: none;
	padding-top: 2.5em;
}

div {
      	float: left;
     	width: 100%;
     	margin-bottom: 40px;
     	display: block;
  	position: relative;
	*zoom: 1;
}

div > h1 {
      	margin: -2.5em 0 2em;
     	font-size: 24px;
	padding-top: 0.5em;
}

.box {
     	border: 1px solid #99999a;
       	margin-bottom: 20px;
     	padding-top: 10px;
      	padding-bottom: 10px;
       	position: relative;
 	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*left: -1px;
}

.box p {
  	margin: 0;
	font-size: 15px;
}

.box[class*=pad] {
       	background: #99999a;
    	padding-top: 0;
 	padding-bottom: 0;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.box[class*=padin] {
     	-moz-box-sizing: border-box;
     	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.box[class*=pad] p {
    	background: #f8f8f7;
    	outline: none;
	padding: 10px 0;
}

div {
	display: none;
}

.section {
   	margin-bottom: 4em;
 	padding-top: 1em;
}

.wrapper {
    	display: block;
}

/* IE 7 only styles */

.gs-ie7clear {
   	display: block;
     	width: 100%;
    	border: none;
    	background: none;
   	float: left;
    	clear: both;
    	height: 0;
    	margin: 0 0 0 100%;
  	visibility: hidden;
}


/* Reset -- END */






