/* Reset -- BEGIN */

html, body, p, div, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: "Lato", "Open Sans", Helvetica, sans-serif;
	color: #333;
	text-align: center;
	line-height: 1.5;
	background:#F2F4F6;
	font-size:16px;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	float: none;
	padding-top: 2.5rem;
	background:#fff;
	display:inline-block;
    top:-4rem;
}

.wrapper__main-content{
	top:-2rem;
}

div {
      	float: left;
     	width: 100%;
     	display: block;
  	position: relative;
	*zoom: 1;
}

div > h1 {
      	margin: -2.5rem 0 2rem;
     	font-size: 24px;
	padding-top: 0.5rem;
}

.box {
     	border: 1px solid #99999a;
       	margin-bottom: 20px;
     	padding-top: 10px;
      	padding-bottom: 10px;
       	position: relative;
 	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*left: -1px;
}

p{
	margin:0 0 1rem 0;
}

.box[class*=pad] {
       	background: #99999a;
    	padding-top: 0;
 	padding-bottom: 0;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.box[class*=padin] {
     	-moz-box-sizing: border-box;
     	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.box[class*=pad] p {
    	background: #f8f8f7;
    	outline: none;
	padding: 10px 0;
}

.section {
   	margin-bottom: 4rem;
 	padding-top: 1rem;
}

article {
	text-align:left;
}

/* IE 7 only styles */

.gs-ie7clear {
   	display: block;
     	width: 100%;
    	border: none;
    	background: none;
   	float: left;
    	clear: both;
    	height: 0;
    	margin: 0 0 0 100%;
  	visibility: hidden;
}


/* Reset -- END */


/* ---------- HEADER.INC styles -- BEGIN  --------------- */

.site__header{
        border-bottom: 1px solid #E6E6E6;
        height:60px;
        background-color: #fff;
        width: 100%;
        position: relative;
}

.logo-block{
        text-decoration: none;
        display:inline-block;
        float: left;
        color: #707B87;
        padding-top: 12px;
        width: auto;
}

.booking__logo {
        display:inline-block;
        position: relative;
        text-indent: 150%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url("../img/Logo_Booking.com_rgb.png");
        background-image: url("../img/Logo_Booking.com_rgb.svg");
	    background-repeat: no-repeat;
        height:32px;
        width:192px;
        margin: 0 0 0 20px;
        top: 5px;  
        float:left;
}

.booking__logo a{
        text-decoration: none;
}

.booking__logo__tech-blog{
        position: relative;
        color:707B87;
        border-left: 2px solid #AAAAAA;
        display: inline;
        width:auto;
        top: 4px;
        margin-left: 14px;
        float: left;
        padding: 7px 0 7px 13px;
}


.nav{
        float:right;
        list-style-type: none;
        margin: 20px 8px 0 0;
        padding: 0;
        position:relative;
}

.nav__item{
        display:inline-block;
        height: 60px;
}

.nav a{
        color: #707B87;
        padding: 22px 12px;
        width: 100%;
        height:100%;
        text-align: center;
}

.nav__item--active a, .nav__item a:hover{
       	background: #F2F4F6;
       	border-bottom: 2px solid #0896FF;
	cursor: pointer;
} 
/* ---------- HEADER.INC styles -- END  --------------- */

.overlay {
    background-color: rgba(2, 36, 109, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.masthead{
    background-image: url(../img/slide-1.png);
    background-size: cover;
    z-index: -100;
    color:#fff;
    padding: 20vh 0;
    max-width: 100%;
    margin: 0;
}

.masthead h2{
    font-size: 4rem;
    margin: 0;
}

.masthead p{
    font-size: 2rem;
    padding: 0;
    text-align: center;
    width: 100%;
}

/* ---------- ARTICLE-POST.INC styles -- BEGIN  --------------- */

.article{
	display:block;
	text-align:left;
	padding:0rem 1rem;
}

.article p{
	color:#506274;
}
.post__header{
	display:block;
	margin-bottom:2rem;
}

.post__header__category{
	font-weight:800;
	font-size:1rem;
	text-transform:uppercase;
}

.post__header__title{
	font-weight:800;
	font-size:2.25rem;
	line-height:1.1;
	margin:0rem 0rem 1rem 0rem;
}

.post__header__meta{

}
.post__header__meta--author{

}

.post__header__meta--time{

}

.post__lede{
	font-size:1.375rem;
	display:block;
	line-height:1.375;
	margin-bottom:1.375rem;
}

.article__aside__author h4,h5,p {
    float: left;
    text-align: left;
    padding-right: 2rem;
    
}

.article__aside__author--photo{
    position: relative;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
   
}

.article__aside__author h4{
    color:#0896FF;
    margin-bottom: 1rem;
}

.article__aside__author h5{
    margin: 0 0 1rem 0;
}


.article__aside__author--social__icons__item{
    display: inline-block;
    background: #EFF1F4;
    border-radius: 50%;
    padding: .7rem;
    text-decoration: none;
    color:#707B87;
    float: left;
    margin-right: 1rem;
    line-height: .75rem;
}

.article__aside__author--social__icons__item:hover 
{
    background: #0896FF;
    color:#fff;
}

/* ---------- ARTICLE-POST.INC styles -- END  --------------- */






/* ---------- FOOTER.INC styles -- BEGIN  --------------- */
    footer {
        border: 1px solid #E6E6E6;
	padding-bottom:2rem;    
}

    .banner-bottom{
        display: block;
/*        width: 100%;*/
        background:#02214C;
        text-align:center;
        position: relative;
        Font-family: Lato, sans-serif;
        color:#fff;
        font-size: 1.5rem;
        margin: 0;
        padding: 2rem 0;
    }

.banner-bottom h2{
    margin: 0;
}

.banner-bottom p{
    margin:1rem;
}

    .banner-bottom__link{
        text-decoration: none;
        color:#0896FF;
    }

    .booking__logo-footer {
        display:inline-block;
        position: relative;
        text-indent: 150%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url("../img/Logo_Booking.com_rgb.png");
        background-image: url("../img/Logo_Booking.com_rgb.svg");
        background-repeat: no-repeat;
        height:32px;
        width:192px;
    }
    .booking-about{
        display: inline-block;
        padding: 2rem 0 0 2rem;
        box-sizing: border-box;
        max-width: 49%;
        Font-family: Lato, sans-serif;
        color:#707B87;
        font-size: 1rem;
        float:left;
        text-align: left;
    }

    .get-in-touch{
        display: inline-block;
        padding: 15px 0 0 40px;
        box-sizing: border-box;
        color:#707B87;
        float: left;
        text-align: left;
        max-width: 49%
    }

    .get-in-touch p{
        font-size: 0,8rem;
        margin: 0l
    }

    .get-in-touch h5{
        font-size: 1rem;
        color: #000;
        margin: 1.5rem 0 1rem 0 ;
    }

.social-icons{
    margin: 0 0 1rem 0;
}

    .social-icons__item {
        display:inline-block;
        position: relative;
        background-color:#EFF1F4;
        border-radius: 50%;
        background-repeat: no-repeat;
        height:40px;
        width:40px;
        text-align:center;
        margin-right: 20px;

    }
    .social-icons__item:hover circle{
       fill: #0896FF;
    }
    .social-icons__item:hover path{
       fill: #fff;
    }


    footer{
        background: #fff;
        display:inline-block;
        width: 90%;
        height: auto;

    }

@media screen and (max-width: 480px) {
    .booking-about {
        max-width: 100%;
    }

     .get-in-touch{
        padding: 0 40px 40px 40px;
    }

    .booking-about{
        padding: 40px 40px 0 40px;
    }
    
     .get-in-touch{
        max-width: 100%
    }
}


/* ---------- FOOTER.INC styles -- END --------------- */
