/******************************************************************************/
/* body */
/******************************************************************************/
body {
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	color: rgba(#474747, 1);
	background-color: rgba(#F4F4F4, 1);
}

b {font-weight: 900;}

/******************************************************************************/
/* .wrapper */
/******************************************************************************/
.wrapper {
	position: relative;
	max-width: 1200px;
	padding: 0 25px;
	margin: 0 auto;
}

.wrapper.mw500 {max-width: 500px;}
.wrapper.mw930 {max-width: 930px;}

/******************************************************************************/
/* link style */
/******************************************************************************/
a,
.link {color: rgba(#62B8EC, 1);}

a:hover,
.link:hover {text-decoration: underline;}

/******************************************************************************/
/* .content */
/***************************************z***************************************/
.content {
	position: relative;
	padding: 0 20px 45px 20px;
	border: 1px solid rgba(#e6e6e6, 1);
	background-color: rgba(#fff, 1);
}

.container .content:before {
	content: " ";
	height: 30px;
	position: absolute;
	top: -30px;
	right: -1px;
	left: -1px;
	border-top: 1px solid rgba(#e6e6e6, 1);
	border-right: 1px solid rgba(#e6e6e6, 1);
	border-left: 1px solid rgba(#e6e6e6, 1);
	border-radius: 3px 3px 0 0;
	background-color: rgba(#fff, 1);
}

/******************************************************************************/
/* .section__header */
/******************************************************************************/
.section__header {margin-bottom: 40px;}

.section__header__title {
	font-size: 3em;
	font-weight: 900;
	text-align: center;
	margin-bottom: 10px;
}

.section__header__tagline {
	display: block;
	font-size: 1.6em;
	text-align: center;
	color: rgba(#707B87, 1);
}

/******************************************************************************/
/* .loadMore */
/******************************************************************************/
.loadMore {
	display: block;
	padding: 10px 5px;
	border-radius: 3px;
	border: 1px solid rgba(#62B8EC, 1);
	font-size: 1.3em;
	text-align: center;
	color: rgba(#62B8EC, 1);
}

.loadMore:hover {
	color: rgba(#fff, 1);
	text-decoration: none;
	background-color: rgba(#62B8EC, 1);
}