/******************************************************************************/
/* .post */
/******************************************************************************/
.post article,
.post__comment {width: calc(100% - 210px);}

.post article {float: left;}
.post .post__sidebar {float: right;}