/******************************************************************************/
/* .listbox */
/******************************************************************************/
.listbox > li {
	float: left;
	width: 50%;
}

.listbox > li:nth-child(odd) {padding-right: 5px;}
.listbox__item {height: 280px;}