/******************************************************************************/
/* .post__preview */
/******************************************************************************/
.post__preview {position: relative;}
.post__preview p {max-width: calc(100% - 120px);}

/******************************************************************************/
/* .post_readMore */
/******************************************************************************/
.post_readMore {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -20px;
	text-transform: uppercase;
}