/******************************************************************************/
/* .splash */
/******************************************************************************/
.splash {padding: 120px 15px 140px 15px;}

.splash__title {font-size: 4em;}
.splash__description {font-size: 2.5em;}

/******************************************************************************/
/* .post .splash */
/******************************************************************************/
.post .splash {padding: 200px 15px 60px 15px;}