/******************************************************************************/
/* .main */
/******************************************************************************/
.main {
	position: relative;
	top: 59px;
}

/******************************************************************************/
/* .content */
/***************************************z***************************************/
.content {
	padding-right: 30px;
	padding-left: 30px;
}

.container .content:before {
	height: 50px;
	top: -50px;
}

/******************************************************************************/
/* .section__header */
/******************************************************************************/
.section__header__title {
	font-size: 3.6em;
	font-weight: 900;
}

.section__header__tagline {font-size: 2.2em;}

/******************************************************************************/
/* .loadMore */
/******************************************************************************/
.loadMore {text-transform: uppercase;}