/******************************************************************************/
/* .main */
/******************************************************************************/
.main {
	position: relative;
	top: 59px;
}

/******************************************************************************/
/* .content */
/***************************************z***************************************/
.content {
	padding-right: 30px;
	padding-left: 30px;
}

.container .content:before {
	height: 50px;
	top: -50px;
}

/******************************************************************************/
/* .post__preview */
/******************************************************************************/
.post__preview{position: relative;}
.post__preview p {max-width: calc(100% - 120px);}

/***************************************************************/
/* .post_readMore */
/***************************************************************/
.post_readMore {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -20px;
	text-transform: uppercase;
}

/******************************************************************************/
/* .loadMore */
/******************************************************************************/
.loadMore {text-transform: uppercase;}

/******************************************************************************/
/* .section__header */
/******************************************************************************/
.section__header__title {
	font-size: 3.6em;
	font-weight: 900;
}

.section__header__tagline {font-size: 2.2em;}