/******************************************************************************/
/* <main> */
/******************************************************************************/
main {
	position: relative;
	top: 59px;
}

/******************************************************************************/
/* .bkbSplash */
/******************************************************************************/
.bkbSplash {padding: 120px 15px 140px 15px;}

.bkbSplash h2 {font-size: 4em;}
.bkbSplash > strong {font-size: 2.5em;}

/***************************************************************/
/* .splash_post */
/***************************************************************/
.bkbSplash.splash__post {padding: 200px 15px 60px 15px;}

/******************************************************************************/
/* .tags */
/******************************************************************************/
.tags__link {
	padding: 5px 10px;
	font-size: 1.6em;
}

/******************************************************************************/
/* .bkbMainContent */
/***************************************z***************************************/
.bkbMainContent {
	padding-right: 30px;
	padding-left: 30px;
}

.bkbMainContent:before {
	height: 50px;
	top: -50px;
}

/******************************************************************************/
/* .bkbContentPreview */
/******************************************************************************/
.bkbContentPreview{position: relative;}
.bkbContentPreview p {max-width: calc(100% - 120px);}


/***************************************************************/
/* .bkbReadMore */
/***************************************************************/
.bkbReadMore {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -20px;
	text-transform: uppercase;
}

/******************************************************************************/
/* .bkbLoadMore */
/******************************************************************************/
.bkbLoadMore {text-transform: uppercase;}

/******************************************************************************/
/* .bkbContentBanner */
/******************************************************************************/
.bkbContentBanner {padding: 80px 40px;}
.bkbContentBanner h4 {font-size: 3.5em;}
.bkbContentBanner strong {font-size: 2.1em;}